:root {
  --cl-pri: #fff7df;
  --cl-sec: #ccc5b9;
  --cl-pri-dk: #252422;
  --cl-acc: #eb5e28;
  --cl-tt: #efefef;
  --fn-tit: "Oswald";
  --fn-text: "Ubuntu";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: var(--fn-text);
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template: "wel wel wel wel" 100vh ". pro pro ." auto / 1fr 4fr 4fr 1fr;
  background-color: var(--cl-pri);
}

#welcome-section {
  grid-area: wel;
  background: var(--cl-pri-dk);
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome-section h1 {
  color: var(--cl-sec);
  font-family: var(--fn-tit);
  font-weight: 500;
  font-size: 10vw;
  width: max-content;
  /*outline: 1px solid grey;*/
}

#projects {
  grid-area: pro;
  background: #adadad;
  padding: 5rem;
  display: grid;
  grid-auto-columns: auto;
  grid-gap: 20px;
}

.projects-title {
  font-size: 5em;
}

.project-tile {
  display: grid;
  grid-template:
    "tti tti tti link" minmax(55px, 15%)
    "info info img img" minmax(300px, 70%)
    / 1fr 40% 40% 1fr;
  width: 100%;
  height: auto;
  background: cornflowerblue;
  box-shadow: 0px 10px 19px -1px rgba(0, 0, 0, 0.39);
}

.project-tile a {
  grid-area: link;
  background: var(--cl-tt);
}
.tile-title {
  grid-area: tti;
  margin: 0;
  background: var(--cl-tt);
}
.project-tile p {
  grid-area: info;
  background: var(--cl-sec);
}
.img-display {
  grid-area: img;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.img-display img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  align-items: left;
  justify-content: center;
  width: 100%;
  /*max-height: 100%;*/
  outline: 1px solid red;
}

.tile-info {
  padding: 5em;
}

.tile-title,
.project-tile a,
.project-tile p {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /*border: 1px solid black;*/
}
nav {
  position: fixed;
  width: 100vw;
  height: 60px;
  display: flex;
  z-index: 999;
  justify-content: center;
  background: var(--cl-pri-dk);
}

.section-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-left: 2px solid var(--cl-acc);
  border-right: 2px solid var(--cl-acc);
  background: coral;
}

.section-link a {
  display: flex;
  text-decoration: none;
  color: var(--cl-pri);
  padding: 10px;
}

#profile {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.39);
  z-index: -1;
  opacity: 0;
  /*display: none;*/
  transition: 300ms ease-in-out;
}

#profile .close {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1%;
  right: 1%;
  background: white;
  color: var(--cl-pri-dk);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-decoration: none;
}

#profile .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 40vh;
  background: var(--cl-sec);
  padding: 2em;
}

#profile .content p {
  width: 55%;
}

#profile:target {
  opacity: 1;
  z-index: 99999;
  /*display: block;*/
}
@media (max-width: 500px) {
  nav {
    height: 2vh;
  }
  body {
    background: red;
  }
  .project-tile {
    grid:
      "tti tti tti link" minmax(55px, 15%)
      "info info info info" minmax(300px, 70%)
      "img img img img" minmax(300px, 70%)
      / 1fr 40% 40% 1fr;
  }
}
